<h1><%= I18n.t :hello %></h1>
<p><%= t(:text) %></p>
<%= button_to "Edit This Account", edit_user_registration_path, method: :get %>
<%= button_to "Logout", destroy_user_session_path, method: :delete %>
